<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.edu.cn.mapper.IPrincipalMapper">
	<resultMap id="displayPrincipals" type="nuc.edu.cn.util.Principal">
	    <result column="id" property="id"/>
	</resultMap>
	
</mapper>